
VITE_GOOGLE_MAPS_PLATFORM_KEY=
GEMINI_API_KEY=

# Cloudinary Configuration
VITE_CLOUDINARY_CLOUD_NAME=dblnktl9m
VITE_CLOUDINARY_UPLOAD_PRESET=CONEXWORLD

# ZEGO Cloud Configuration for Live Streaming
VITE_ZEGO_APP_ID=
VITE_ZEGO_SERVER_SECRET=
